.user {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  padding: 10px 0;
}

.avatar {
  min-width: 30px;
  min-height: 30px;
  border-radius: 20px;
  margin-right: 10px;
}

.name {
  width: 100%;
  line-height: 30px;
}
