.button {
  background: #fff;
  border: none;
  height: 40px;
  border-radius: 20px;
  width: 100%;
  font-weight: bold;
  color: #000;
  cursor: pointer;

  &:hover {
    background: none;
    border: 2px solid;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
  }
}
