.container {
  display: flex;
  width: 100%;
  min-width: 240px;
  height: calc(100% - 20px);
  margin: 10px;
  flex-direction: column;
  position: relative;
}

.title {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.column {
  width: 100%;
  background: #fff;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &.active {
    background: #f0f0f0;
  }
}
