.container {
  width: 100%;
  padding: 10px;
  background: #f0f0f0;
  border-radius: 5px;
  font-size: 14px;
  margin: 10px 0 60px;
  position: relative;

  &.red { border-top: 4px solid #F44336; }
  &.blue { border-top: 4px solid #0097A7; }
  &.green { border-top: 4px solid #4CAF50; }
  &.gray { border-top: 4px solid #9E9E9E; }

  &.isDragging {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
  }
}

.title {
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 14px;
}

.description {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
}

.footer {
  display: flex;
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  margin: 10px 0;
  font-size: 12px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.editButton {
  min-width: 60px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #ccc;
  background: #fff;
  margin-left: 10px;

  &:hover {
    color: #fff;
    border: none;
    background: #3a9bff;
  }
}

.date {
  width: 100%;
  color: #666;
}
