.button {
  display: block;
  margin: 20px auto;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background: none;
  font-size: 40px;
  color: #3a9bff;
  border: 4px solid #3a9bff;
  cursor: pointer;

  &:hover {
    color: #fff;
    background: #3a9bff;
  }
}
