.name,
.description,
.performer {
  background: #fff;
  border-radius: 5px;
  min-width: 100%;
  max-width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
}

.name {
  margin-bottom: 10px;
}

.description {
  margin-bottom: 10px;
}
