.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 30px;
  line-height: 30px;
  margin: 10px 0;
}

.input {
  width: 100%;
  border: none;
  margin-right: 20px;
  padding: 0 10px;
  border-radius: 2px;
}

.text {
  width: 100%;
}

.button {
  cursor: pointer;
  min-width: 45px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  font-weight: normal;
  opacity: .6;
  border-radius: 15px;
  border: none;
  background: none;
  color: #fff;

  &:hover {
    opacity: 1;
    background: #fff;
    color: #3A9BFF;
  }
}
