.sort {
  display: flex;
  margin-bottom: 20px;
}

.sortTitle {
  width: 100%;
}

.dateSortButton,
.nameSortButton {
  background: none;
  border: 1px solid #ccc;
  cursor: pointer;
  min-width: 50px;

  &.isActive {
    background: #eee;
  }
}

.dateSortButton {
  border-radius: 20px 0 0 20px;
  border-right: none;
}
.nameSortButton {
  border-radius: 0 20px 20px 0;
}
