@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
  background: #3a9bff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #424242;
  margin: 0;
  padding: 0;
}

button {
  color: #424242;
}

body, * {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}
